<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="QA BASE AUTOMATION FOR DAIMLER (ibermatica)" verbose="1" thread-count="2" configfailurepolicy="continue">

	<listeners>
		<listener class-name="com.daimler.listener.TestListener"/>
	</listeners>

	<test name="QA BASE TEST FOR DAIMLER">
		<classes>
			<class name="com.daimler.qa.testcases.searchInGoogleTest"></class>
		</classes>
	</test>
</suite>